{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "jest"],
  "extends": [
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:jest/recommended",
    "prettier"
  ],
  "rules": {
    "import/no-cycle": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "@typescript-eslint/lines-between-class-members": [
      "error",
      { "exceptAfterSingleLine": true }
    ],
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-namespace": ["error", { "allowDeclarations": true }],
    "@typescript-eslint/dot-notation": [
      "error",
      { "allowPrivateClassPropertyAccess": true }
    ]
  }
}
